@charset "utf-8";
/* mobile.css 레이아웃 */
/* 미디어쿼리 0 ~ 767px */

@media screen and (max-width: 767px) {
    /* ~~~ 헤더 서식 ~~~ */
header{
    width: 100%;
    height: 60px;
    background: #fff;
}

header h1{
    width: 130px;
    margin: 0px auto;
    padding-top: 5px;
}
header h1 img{
    width: 100%;
    margin-top: 12%;
}

/* 체크박스 숨기기 (내비게이션, 검색) */
#toggle, #sbtn{display: none;}

.ham_btn, .sear_btn{
    color: #301D18;
    font-size: 24px;
    padding: 5px;
    position: absolute;
    top: 12px;
    cursor: pointer;
}
.ham_btn{left: 15px;}
.sear_btn{right: 15px;}


/* ~~~ 내비게이션 서식 ~~~ */
/* 메인메뉴 */
.gnb{
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%;
    top: 0px;
    background: rgba(0,0,0,.7);
    z-index: 9000;
    transition: 0.5s;
}
.gnb > ul{
    width: 80%; height: 100%;
    margin: 0px;
    padding-top: 50px;
    background: #fff;
    position: absolute;
}
.gnb > ul > li{
    text-indent: 10px;
    clear: right;
    border-bottom: 1px solid #D9D9D9;
}
.gnb > ul > li > a{
    color: #F89828;
    display: block;
    width: 100%;
    line-height: 40px;
    font-size: 1rem;
    background: #fff;
}
i.fa-angle-down{
    float: right;
    font-size: 1.3rem;
    padding: 10px 8px;
}
.act{transform: rotate(180deg) translateX(-10px) !important;}

/* 내비게이션 이벤트배너 */
.gnb > ul > .evet_img{
    width: 100%;
    margin-top: 20%;
}


/* 서브메뉴 */
.sub{
    background: #CECECE;
    display: none;
}
.sub > li > a{
    font-size: 0.95rem;
    line-height: 36px;
    display: block;
    color: #FFF;
    border-bottom: 1px solid #DADADA;
}

/* 로그인, 회원가입 */
    /* tablet, pc에 해당하는 것 */
        .lnb{
            display: none;
        }
        /* .lnb > ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .lnb > ul > li{
            width: 44%;
            margin: 0px 2px 4px 2px;
            text-align: center;
            background: #6868;
        } */

    /* mobile에만 해당하는 것 */
.gnb > ul > .lojo{border-bottom: none;}
.gnb > ul > li > .login, .gnb > ul > li > .join{
    margin: 10px 0px;
}
.gnb > ul > li > .join{
    color: #858585;
}

/* 닫기버튼 */
.c_btn{
    color: #fff;
    font-size: 2rem; /*32px*/
    position: absolute;
    right: 7%;
    top: 6%;
    padding: 6px;
    z-index: 9001;
    cursor: pointer;
}

/* toggle 클릭 시 날아오기 */
#toggle:checked ~ header .gnb{left: 0%;}


/* 검색 */
fieldset{
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0px;
    top: -100%;
    background: rgba(0,0,0,.7);
    z-index: 9000;
    transition: 0.5s;
    color: #fff;
}
/* 검색 - 검색창 */
#search{
    width: 80%;
    background: none;
    border: 1px solid #fff;
    border-radius: 50px;
    position: absolute;
    top: 5%; left: 10%;
    padding: 10px;
    margin: 0px auto;
    background: rgba(255,255,255,.7);
}
fieldset > a > .fa-search{
    position: absolute;
    top: 6.2%; right: 15%;
    font-size: 1rem;
    color: #333;
}
fieldset > a > .fa-search > span{display: none;}

.rek{
    position: absolute;
    top: 12%;
    text-align: left;
    padding: 0px 50px;
    width: 100%;
    /* background: #f00; */
}
.rek > .word{font-size: 0.9rem;}
.rek > li{
    float: left;
    margin: 15px 3px;
}
.rek > li > a{
    background: rgba(255,255,255,.7);
    color: #333;
    padding: 3px;
    font-size: 0.8rem;
    border: 1px solid #fff;
    border-radius: 40px;
}
.s_c_btn{
    position: absolute;
    top: 2%; left: 4%;
    font-size: 1.5rem;
}
/* search 클릭 시 날아오기 */
#sbtn:checked ~ header fieldset{top: 0%;}





/* ~~~ 메인 서식 ~~~ */
/* 슬라이드 서식 */
.visual{
position: relative;
height: 540px;
overflow: hidden;
}
.visual > h2{display: none;}
.visual > .visual_slide > div > img{width: 100%;}

/* 슬라이드 순서 바꾸기 */
.visual_slide_m01{z-index: 6;}
.visual_slide_m02{z-index: 5; display: none;}
.visual_slide_m03{z-index: 4; display: none;}
.visual_slide_m04{z-index: 3; display: none;}
.visual_slide_m05{z-index: 2; display: none;}
.visual_slide_m06{z-index: 1; display: none;}

/* 좌우버튼서식 */
.visual > .s_btn{
display: flex;
position: absolute;
top: 90%; left: 3%;
z-index: 20;
}
.visual > .s_btn > li > i{
background: rgba(255,255,255,.2);
color: #fff;
font-size: 1.5rem;
padding: 12px 6px;
margin-right: 10px;
cursor: pointer;
}

/* 컨트롤 버튼 서식 */
.visual > .ctrl_btn{
position: absolute;
display: flex;
left: 25%; top: 93%;
z-index: 20;
}
.visual > .ctrl_btn > li{
width: 12px; height: 12px;
background: #fff;
border-radius: 50%;
margin-left: 10px;
cursor: pointer;
}
.v_on{background: #ebb400 !important;}





/* 스쿨룩스 텍스트 */
    .skool_title{
        position: relative;
        width: 100%; max-width: 100%; height: auto;
        padding: 15px 0;
        background: #F89828; color: #fff;
        line-height: 5px;
        overflow-x: hidden; overflow-y: hidden;
        margin: -1.9px 0;
    }
    .skool_title .skool_track{
        font-size: 1rem;
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: play 20s linear infinite;
    }

/* 스쿨룩스 텍스트 키프레임 애니메이션 */
    @keyframes play{
        from{transform: translateX(0);}
        to{transform: translateX(-50%);}
    }
    


/* 내용 */
/* 스쿨룩스 소개 내용 */
.con_skool{
    width: 100%;
    margin: 50px 0px;
}
div{text-align: center;}
.con_skool .con_skool_logo{
    width: 180px;
}
.con_skool .bold{
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 35px;
}
.con_skool > div > p > img{padding-left: 5px;} /* 스피커 */

.con_skool p{
    text-align: center;
    /* background: rgba(200,50,120,.1); */
    line-height: 20px;
}

.con_skool > div > img{
    width: 70%;
    position: relative;
    padding: 15px 0px;
}


/* 스쿨룩스 교복 */
#con_uniform, #con_uniform2{
    width: 100%; height: 350px;
    text-align: center;
    background: #F2F2F2;
    position: relative;
    padding: 20px 0px;
    overflow: hidden;
}
#con_uniform2{margin: 10px 0px;}
.suit_slides{
    /* background: #f00; */
    width: 100%; height: 270px;
    overflow-y: hidden;
}

/* 스쿨룩스 교복 - 좌/우 아이콘 */
#con_uniform > .con_uniform_suit > .uniform_icon > .fa-angle-left, 
#con_uniform > .con_uniform_suit > .uniform_icon > .fa-angle-right,
#con_uniform2 > .con_uniform_suit > .uniform_icon > .fa-angle-left, 
#con_uniform2 > .con_uniform_suit > .uniform_icon > .fa-angle-right{
    position: absolute;
    top: 50%;
    /* border: 2px solid #f00; */
    font-size: 1.5rem;
    color: #A4A4A4;
    cursor: pointer;
    z-index: 2;
}
#con_uniform2 > .con_uniform_suit > .uniform_icon > .fa-angle-left,
#con_uniform > .con_uniform_suit > .uniform_icon > .fa-angle-left{left: 5%;}
#con_uniform2 > .con_uniform_suit > .uniform_icon > .fa-angle-right,
#con_uniform > .con_uniform_suit > .uniform_icon > .fa-angle-right{right: 5%}

/* 스쿨룩스 교복 - ul */
#con_uniform .uniform_suit > ul, #con_uniform2 .uniform_suit > ul{
display: flex;
width: 1500px; height: 250px;
position: absolute; top: 65px;
z-index: 1;
/* background-color: rgba(0,0,0,.3); */
}
#con_uniform .uniform_suit > ul li, #con_uniform2 .uniform_suit > ul li{width: 400px;}
#con_uniform .uniform_suit > ul img, #con_uniform2 .uniform_suit > ul img{width: 60%;} /* 스쿨룩스 교복 - 이미지 */
.uniform_button{
    position: absolute;
    bottom: 10%; right: 40%;
}


/* 스쿨룩스 교복 - 상품제목 */
.uniform_suit > .suit_slides > li > p > .suit_name{
    font-weight: 600; font-size: 0.9rem;
    /* background: #f00; */
    line-height: 20px;
}



    /*  */


    /* 스쿨룩스 교복2 */
    #con_uniform2{margin: 10px 0px;}
    .suit_slides2{
        /* background: #f00; */
        width: 100%; height: 270px;
        overflow-y: hidden;
    }

    /* 스쿨룩스 교복2 - 좌/우 아이콘 */
    #con_uniform2 > .con_uniform_suit2 > .uniform_icon2 > .fa-angle-left, 
    #con_uniform2 > .con_uniform_suit2 > .uniform_icon2 > .fa-angle-right{
        position: absolute;
        top: 50%;
        /* border: 2px solid #f00; */
        font-size: 1.5rem;
        color: #A4A4A4;
        cursor: pointer;
        z-index: 2;
    }
    #con_uniform2 > .con_uniform_suit2 > .uniform_icon2 > .fa-angle-left{left: 5%;}
    #con_uniform2 > .con_uniform_suit2 > .uniform_icon2 > .fa-angle-right{right: 5%}

    /* 스쿨룩스 교복2 - ul */
    #con_uniform2 .uniform_suit2 > ul{
    display: flex;
    width: 1500px; height: 250px;
    position: absolute; top: 65px;
    z-index: 1;
    /* background-color: rgba(0,0,0,.3); */
    }
    #con_uniform2 .uniform_suit2 > ul li{width: 400px;}
    #con_uniform2 .uniform_suit2 > ul img{width: 60%;} /* 스쿨룩스 교복 - 이미지 */
    .uniform_button2{
        position: absolute;
        bottom: 10%; right: 40%;
    }


    /* 스쿨룩스 교복2 - 상품제목 */
    .uniform_suit2 > .suit_slides2 > li > p > .suit_name2{
        font-weight: 600; font-size: 0.9rem;
        /* background: #f00; */
        line-height: 20px;
    }


/* 디자인 룩북 */
.con_look{
    width: 100%; height: 400px;
    position: relative;
    text-align: center;
    /* background: #f00; */
    overflow: hidden;
}
.con_look > #con_look_uni > p{margin-bottom: 10px;}
.con_look > #con_look_uni > ul{
    display: flex;
    width: 1280px;
    position: absolute; top: 60px;
}
.con_look > #con_look_uni > ul li{
    width: 27%;
    position: absolute;
    left: 35px;
}
.con_look > #con_look_uni > ul img{width: 100%;}
.con_look > #con_look_uni > ul > li > a > img{
    width: 70%;
    border-radius: 10%;
    padding: 10px;
    z-index: 1;
}
/* 디자인 룩북 - 도형 */
.box01, .box02{position: absolute; width: 100%;}
.box01{
    height: 180px;
    top: 56%; right: 10%;
    z-index: -1;
    background: #FFF2E2;
}
.box02{
    height: 150px;
    top: 71%;
    z-index: -2;
    background: #F89828;
}
.look_book{transform: translateY(280px);}
.look_btn{
    width: 13px; height: 13px;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    z-index: 50;
}
.act{
    background: #F89828;
    position: relative;
    left: -11px;
}


/* 제베원 텍스트 */
.zb1_title{
    position: relative;
    width: 100%; max-width: 100%; height: auto;
    padding: 15px 0;
    background: #185AA4; color: #fff;
    line-height: 5px;
    overflow-x: hidden; overflow-y: hidden;
    margin: -1.9px 0;
}
.zb1_title .zb1_track{
    font-size: 1rem;
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: play 20s linear infinite;
}


/* 스쿨룩스 이벤트(배너, 유튜브) */
.event_banner > .con_event_banner_tc{display: none; overflow: hidden;}

.con_event_you, .con_event_banner_m{
    margin: 30px 0px;
    width: 100%;
}

.con_event_you > div, con_event_banner_m > div{
    margin: 30px 0px;
}
/* 스쿨룩스 이벤트(배너,유튜브) - 제목 */
.con_event_you > div > h3, .con_event_banner_m > div > h3{
    color: #185AA4;
}

/* 스쿨룩스 유튜브 - 배너 이미지 */
.con_event_banner_m ul > li{margin: 20px 0px;}
.con_event_banner_m ul > li > a > img{width: 100%;}

/* 스쿨룩스 유튜브 - 영상 */
.con_event_you > ul > li > iframe{
    width: 100%;
}

/* 스쿨룩스 유튜브 - 영상 2번째 */
.con_event_you > ul > .event_you_url2{
    display: none;
}


/* 스쿨룩스 안내 */
.con_info{
    width: 100%;
    background: #FFE297;
}

.con_info > .info{
    padding: 10px 0px; margin: -1.5px 0;
    display: flex;
    justify-content: space-evenly;
}
.con_info > div > div > a > i{
    color: #301D17;
    font-size: 2rem;
    /* background: #f00; */
    background: #fff;
    padding: 10px;
    border-radius: 50%;
}
.con_info > div > div > a > p{
    /* background: #ff0; */
    font-size: 1rem; font-weight: 600;
    margin-top: 10px; 
}



/* ~~~ 푸터 서식 ~~~ */
footer{
    width: 100%;
    background: #333333;
    color: #fff;
}
.f_top > .f_top_a > a > img{
    width: 40%;
    margin: 10px 0px;
    padding: 10px 0px;
    /* background: #f00; */
}

/* 이용약관... 5개 */
.f_nav > a{
    color: #fff;
    justify-content: space-between;
    /* background: #f00; */
    padding: 5px 0px; margin: 0px 0.7%;
}

/* 푸터 정보 */
footer address{
    padding: 0px 2%;
    line-height: 20px;
    font-size: 0.7rem;
    text-align: left;
}

/* 아이콘 */
.f_sns_icon{margin: 10px;}
.f_sns_icon > a > img{
    position: relative;
    justify-content: flex-start;
    /* background: #ff0; */
    padding: 3px;
    margin: 10px;
}

.f_sns_blog{width: 4%;}
.f_sns_face{width: 3%;}
.f_sns_insta{width: 6.5%;}
.f_sns_you{width: 6.5%;}
}